name: WakaTime Stats

on:
  schedule:
    # Runs every hour
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  update-readme:
    name: Update WakaTime Stats
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Update README with WakaTime Stats
        uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SHOW_LINES_OF_CODE: 'true'
          SHOW_PROFILE_VIEWS: 'false'
          SHOW_COMMIT: 'true'
          SHOW_DAYS_OF_WEEK: 'true'
          SHOW_LANGUAGE: 'true'
          SHOW_OS: 'true'
          SHOW_PROJECTS: 'true'
          SHOW_EDITORS: 'true'
          SHOW_TIMEZONE: 'true'
          SHOW_LANGUAGE_PER_REPO: 'true'
          LOCALE: 'en'

